/* Header Fijo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #34495e;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



h1 {
    color:white; 
    font-weight: bold;
    text-align: center;
    margin: 0
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}



h2 {

    font-weight: bold;
    font-family: Georgia, serif;
}
.h2{
    margin: 20px;

    font-weight: bold;
    font-family: Georgia, serif;
    text-align: center;
}
#h2{
    margin-top: 40px;

    font-weight: bold;
    font-family: Georgia, serif;
    text-align: center;
}
.h3{
    font-family: Georgia, serif;
    padding-left: 20px;

   
}

.h22{
    margin-top: 0%;
    font-family: Georgia, serif;

    text-align: center;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}


body {
    
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 80px; /
}

.header .logo h1 {
    font-size: 28px;
    font-weight: normal;
    color: #ecf0f1;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li button {
    background: none;
    border: none;
    padding: 8px 15px;
}

.navigation ul li button a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    transition: color 0.3s, border-bottom 0.3s;
}

/* Efecto de la línea cyan */
.navigation ul li button a:hover {
    color: #1abc9c; /* Cambio de color de texto */
    border-bottom: 2px solid #1abc9c; /* Línea cyan debajo del texto */
}

/* Información Personal */
.informacion-personal {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Espacio adicional debido al header fijo */
    padding: 20px;
}

.personal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal-image img {
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Alto de la imagen */
    border-radius: 25%; /* Redondear la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    object-fit: cover;
}

.personal-details h2 {
    font-size: 28px;
    color: #1abc9c; /* Cyan */
    margin-bottom: 10px;
}

.personal-details p {
    font-size: 16px;
    color: #7f8c8d;
    max-width: 600px;
}

/* Estilos del contenido */
.container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h2 {
    font-size: 24px;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    color: #7f8c8d;
}
/* Aseguramos que el header y el menú no se muevan al hacer scroll */
body {
    padding-top: 60px; /* Compensar la altura del header fijo */
}




section{
    margin-bottom: 50px;
    margin-left: 20px
}

section div ul li {
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.mapa{
    margin: 20px 0 0 0;
    width: 100%;
}


.perfil-contenedor {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    background-color: #9fabe6;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
   
}

.perfil-foto img {
    border-radius: 30%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    object-fit: cover;
    border: 2px solid #8999ec;
    flex: auto;
}

.perfil-info, .perfil-educacion {
    border-left: 2px dotted  #6578c4;
    border-right: 2px dotted  #6578c4;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.perfil-info h2, .perfil-educacion h2 {
    margin-top: 0;
}

.lenguaje-contenedor {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content:center;
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    background-color: null;
    
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
}

.img-lengua {
    display: flex;
    gap: 10px; /* Espacio entre las imágenes */
}

.img-lengua img {
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 150px;
    object-fit: contain;
    border: 2px solid #000000;
    border-radius: 5px; /* Opcional: añade un poco de borde redondeado */
    padding-left: 10px;
    padding-right: 10px;
}

.herramienta-contenedor {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content:center;
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    background-color: null;
    
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
}

.img-herramienta {
    display: flex;
    gap: 10px; /* Espacio entre las imágenes */
}

.img-herramienta img {
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 150px;
    object-fit: contain;
    border: 2px solid #000000;
    border-radius: 5px; /* Opcional: añade un poco de borde redondeado */
    padding-left: 10px;
    padding-right: 10px;
}

.flex-cont{
    display: flex;
    gap: 20px;
}
.proyectos {
    padding: 40px 20px;
    margin-bottom: 40px;
    text-align: center;
}

.proyectos h2 {
    font-size: 32px;
    color: #1abc9c;
    margin-bottom: 30px;
}

/* Contenedor de los proyectos (horizontal) */
.proyectos-contenedor {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Espacio entre los contenedores de los proyectos */
    flex-wrap: wrap; /* Permite que los proyectos se ajusten si no caben en una fila */
}

/* Contenedor de cada proyecto */
.proyecto-item {
    width: 30%; /* Ancho del recuadro para cada proyecto */
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Efecto de hover */
}

/* Estilo de las imágenes */
.proyecto-item img {
    width: 150px; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 150px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Efecto de hover en los contenedores */
.proyecto-item:hover {
    transform: scale(1.05); /* Agranda el contenedor ligeramente */
}

.educacion-content {
    display: flex;
    align-items: center; /* Alinea los elementos al inicio verticalmente */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
    width: 50%; /* Ajusta el ancho al 100% para ocupar el espacio */
    justify-content: center;
}
.img-edu a {
    display: block; /* Hace que los enlaces ocupen toda la línea */
    text-align: center; /* Centra las imágenes */
}


.exper-content {

    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    background-color: #9fabe6;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    width: 50%; /* Ajusta el ancho al 100% para ocupar el espacio */
    justify-content: space-between; /* Alinea el contenido horizontalmente con espacio entre los elementos */
}

.exper-text {
    flex: 2; /* El texto de la experiencia ocupará más espacio */
}

.video-container {
    flex: 1; /* El video ocupará menos espacio */
    display: flex;
    justify-content: center; /* Centra el video horizontalmente dentro del contenedor */
}

.video-container iframe {
    max-width: 100%; /* Asegura que el video no se salga del contenedor */
    height: auto; /* Mantiene la relación de aspecto del video */
}


.img-edu {

    gap: 10px; 
}

.img-edu img {
    width: 200px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 200px;
    object-fit: contain;
    border: 2px solid #6578c4;
    border-radius: 50%; /* Opcional: añade un poco de borde redondeado */
    padding-left: 10px;
    padding-right: 10px;
}

.contact {
    width: 90%;
    margin: 50px 20px 0;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "textarea input"
        "textarea input"
        "textarea input";
}
.form__input {
    background-color: #fffffe;
    padding: 10px;
    color: #020826;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px; /* Add some margin for better spacing */
}

.form__input--submit {
    background-color: #668dc0;
    color: #fffffe;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; /* Smaller padding */
    border-radius: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto; /* Two equal columns for inputs and one auto column for the submit button */
    gap: 10px; /* Space between inputs */
    align-items: center; /* Vertically center the items */
}

textarea.form__input {
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
}

#Contacto {
    margin-top: 20px;
    align-items: center;

}

.pie{
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
}

